@import 'node_modules/reset-css/reset.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir Next', sans-serif;
  background: #27ae60;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}


.main-header {
  height: 120px;
  background-color: #465765;
  align-items: center;
}

.logo > img {
  margin-top: 6px;
  height: 100px;
}


/*==============================
  Player Score/High Scores
==============================*/
.player-score,
.high-scores {
  margin: 20px 0;
  text-align: center;
}
.scores > li {
  text-align: left;
  margin: 5px 0;
}
/*==============================
  Category Lists
==============================*/
.side-bar {
  background: #5a7184;
  height: 540px;
  color: #ecf0f1;
  box-shadow: 1px 0 22px 4px #465765;
}

.trivia-rounds {
  margin: 10px 0;
}

.question-list > li {
  display: block;
  margin: 10px 0;
}

.glyphicon-ok-sign {
  color: #31f75f;
}

.glyphicon-remove-sign {
  color: #e26a63;
}
/*==============================
  Filter Options
==============================*/
label {
  font-size: 14px;
}

select {
  display: block;
  width: 150px;
  color: #465765;
}
button {
  margin: 10px 0;
  color: #465765;
}
/*==============================
  Timer
==============================*/
#timer {
  display: block;
  margin: 20px 0;
  font-size: 36px;
  color: #ecf0f1;
}
/*==============================
  Trivia Card
==============================*/
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trivia-card {
  margin: 20px auto;
  max-width: 540px;
  background-color: #ecf0f1;
  border: 1px solid #465765;
  box-shadow: 0 0 22px 4px #465765;
  border-radius: 5px;
  padding: 10px;
}
.trivia-card > hr {
  margin-top: 0;
  border-color: #465765;
}
.trivia-difficulty {
  margin-bottom: 10px;
  font-size: 20px;
}

.trivia-category {
  margin-bottom: 10px;
  font-style: italic;
}

.trivia-question {
  margin-bottom: 15px;
}
.trivia-answers {
  margin: 10px auto;
}

.trivia-answers > input {
  margin: 5px auto;
}
label {
  width: 100%;
}
input[type="radio"] {
  /*visibility: hidden;*/
}

input[type="radio"]:checked + label {
    background: red;
}
/*==============================
  Final Score
==============================*/
.final-score {
  margin: 20px auto;
  width: 420px;
  background-color: #ecf0f1;
  border: 1px solid #465765;
  box-shadow: 0 0 22px 4px #465765;
  border-radius: 5px;
  padding: 10px;
}
.final-score > hr {
  margin-top: 0;
  border-color: #465765;
}
/*==============================
  Footer
==============================*/
.main-footer {
  height: 120px;
  background-color: #465765;
  align-items: center;
}
